# ["dev", "test", "production"]
NODE_ENV="dev"

# Auth
JTW_SECRET="FakeJwtSecret:)"

# Database
POSTGRES_USER="fakeUsername"
POSTGRES_PASSWORD="FakePassword"
POSTGRES_DB="api_gympass"
DATABASE_URL="postgresql://fakeUsername:FakePassword@localhost:5432/api_gympass?schema=public"
